.container { width: 500px; padding: 0 0 5px 0; margin: 3px 0 10px 0; background: #fff; } 
#nav { margin: 0; padding: 0; border-top: 3px solid #5F6A71; } 
#nav li { margin: 0; padding: 0; display: inline; list-style-type: none; } 
#nav a:link, #nav a:visited 
{ float: left; font: bold 7.5pt verdana; line-height: 14px; padding: 9px; text-decoration: none; color: #708491; } 
#nav a:link.active, #nav a:visited.active, #nav a:hover 
{ color: #666; background: url(http://1.bp.blogspot.com/_7wsQzULWIwo/SzvC_Xa-vHI/AAAAAAAACw0/qVeZI3gdWQM/s1600/Inverted.png) no-repeat top center; border-top: 4px solid #5F6A71; } 